.ExamItem {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.ExamItem:hover {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.numOfQuestion {
    padding: 12px 15px;
    border-right: 1px solid #ccc;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
}

.title {
    padding: 12px 20px;
    flex-grow: 1;
    font-weight: bold;
}

.button {
    border-radius: 0;
}